* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.frame {
  background-color: #d48f56;
  position: absolute;
  top: 25%;
  left: 35%;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 320px;
  align-items: center;
  background-color: white;
}
.profile {
  position: relative;
  width: 100px;
  height: 100px;
}
.circle1 {
  position: absolute;
  border-width: 1px;
  border-style: solid;
  top: 1px;
  right: 1px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border-color: black transparent black black;
}

.circle2 {
  border-width: 1px;
  position: absolute;
  border-width: 1px;
  border-style: solid;
  top: 1px;
  right: 1px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border-color: black transparent black black;
}

.profile:hover .circle1 {
  transform: rotate(360deg);
}
.profile:hover .circle2 {
  transform: rotate(-360deg);
}

.profile1 {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 300px;
}
.img1 {
  border: 1px solid #786450;
  border-radius: 100%;
  width: 82px;
  height: 82px;
}

.text {
  padding: 25px;
  text-align: center;
}
.text1 {
  color: #786450;
  font-size: 15px;
}
.text2 {
  color: #786450;
  font-size: 10px;
  line-height: 15px;
}
.btns {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.btn1 {
  border: 1px solid #786450;
  text-decoration: none;
  color: #786450;
  border-radius: 15px;
  width: 120px;
  height: 30px;
  text-align: center;
}
.btn2 {
  border: 1px solid #786450;
  text-decoration: none;
  color: #786450;
  border-radius: 15px;
  width: 120px;
  height: 30px;
  text-align: center;
}
.cmn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 200px;
  height: 320px;
  background-color: white;
  justify-content: space-between;
}
.cmn1 {
  display: flex;
  flex-direction: column;
  background-color: #f5e8df;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  width: 120px;
  height: 99px;
}
.cmn2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f5e8df;
  text-align: center;
  box-sizing: border-box;
  width: 120px;
  height: 99px;
}
.cmn3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f5e8df;
  text-align: center;
  box-sizing: border-box;
  width: 120px;
  height: 99px;
}
